= form_for(@restaurant) do |f|
  - if @restaurant.errors.any?
    #error_explanation
      %h2
        = pluralize(@restaurant.errors.count, "error")
        prohibited this restaurant from being saved:

      %ul
        - @restaurant.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    %br
    = f.text_field :name

  .field
    = f.label :website
    %br
    = f.text_field :website
  .field
    = f.label :info
    %br
    = f.text_area :info

  = f.fields_for :branches do |branch_form|
    .field
      =branch_form.label :street_address
      %br
      =branch_form.text_field :street_address
    .field
      =branch_form.label :city
      %br
      =branch_form.text_field :city
    .field
      =branch_form.label :phone
      %br
      =branch_form.text_field :phone
    .field
      =branch_form.label :business_hours
      %br
      =branch_form.text_field :business_hours
    .field
      =branch_form.label :email
      %br
      =branch_form.text_field :email
    
  .actions
    = f.submit
