#toolbar
  =image_tag("logo.png", :alt => t(:slogan))
  =link_to(t(:restaurants_button), restaurants_path, :class => "navi button")
  %form
    %input{:type => "text", :value => t(:search_from_veggie) }
  %hr
  %select
    %option Veggie Helsinki
    %option Veggie Tampere
    %option Veggie Turku
  %hr
  %p
    =t :cant_find_from_veggie
  
  %a.button{:href => new_restaurant_path}=t :add_restaurant
  
#top
  %h1 Ravintolat
  =link_to(t(:add_your_restaurant), new_restaurant_path, :class => "button", :title => "New Restaurant")

#shortcuts
  %h6=t :browse_the_restaurants_by
  %p
    %a{:href => "#"}=t :by_map
    &bull;
    %a{:href => "#"}=t :by_tags
    &bull;
    %a{:href => "#"}=t :by_reviews
    &bull;
    %a{:href => "#abc"}=t :by_alphabetical_list

  
#map
  - unless @restaurants.empty?
    =render :partial => 'restaurantsmap', :locals => { :lat => '60.167587391426764', :lng => '24.9375057220459' }    

/
  #tag-cloud
    %h2=t('restaurants.tags') 
    %ul
      %li
        %a{:href => "#"}lorem ipsum
        (30)
      %li
        %a{:href => "#"}dolor
        (30)
      %li
        %a{:href => "#"}sit amen
        (30)
      %li
        %a{:href => "#"}consectetur
        (30)
      %li
        %a{:href => "#"}elit
        (30)

    %p.showall
      Ja 51 lis&auml;&auml;.
      %a{:href => "#"}N&auml;yt&auml; kaikki &raquo;

.five-restaurant-list
  %h2=t('restaurants.last_added')        
  %hr
  - @last_added.each do |rest|
    =render :partial => 'restaurantsshort', :locals => { :rest => rest }

%hr

.five-restaurant-list
  %h2=t('restaurants.most_commented')
  %hr  
  - most_commented = @restaurants.sort!{|a,b| b.comments.count <=> a.comments.count}
  - most_commented.each do |rest|
    =render :partial => 'restaurantsshort', :locals => { :rest => rest }    

%hr
  
.restaurants-alphabetically
  %h2=t('restaurants.browse_alphabetically')
  
  - previous_letter = ''
  - restaurants_abc = @restaurants.sort! { |a,b| a.name.downcase <=> b.name.downcase }
  - restaurants_abc.each do |restaurant|
    - if previous_letter != restaurant.name[0]
      %hr
      .restaurant-letter
        <span class="abc_letter"> 
        =restaurant.name[0]
        </span> <span class="abc_restaurant_count">
        - letter_count = Restaurant.where("name LIKE ?", restaurant.name[0] + "%").count
        = letter_count
        - if letter_count == 1
          =t('restaurants.restaurant')
          </a>
        - else
          =t('restaurants.restaurants')
          </a>
        =image_tag("arrow_right.png", :class => "arrow")
    - else
        
    - previous_letter = restaurant.name[0]

    .full_list
      =render :partial => 'restaurantsshort', :locals => { :rest => restaurant }    
      
    
/
  %div
    %h1 Listing restaurants

    %table
      %tr
        %th Name
        %th Website
        %th Info
        %th
        %th
        %th
      - @restaurants.each do |restaurant|
        %tr
          %td= restaurant.name
          %td= restaurant.website
          %td= restaurant.info
          %td= link_to 'Show', restaurant
          %td= link_to 'Edit', edit_restaurant_path(restaurant)
          %td= link_to 'Destroy', restaurant, confirm: 'Are you sure?', method: :delete

    %br

    = link_to 'New Restaurant', new_restaurant_path