#toolbar
  =image_tag("logo.png", :alt => t(:slogan))
  =link_to(t(:restaurants_button), restaurants_path, :class => "navi button")
  %form
    %input{:type => "text", :value => t(:search_from_veggie) }
  %hr
  %select
    %option Veggie Helsinki
    %option Veggie Tampere
    %option Veggie Turku
  %hr
  %p
    =t :cant_find_from_veggie
  
  %a.button{:href => new_restaurant_path}=t :add_restaurant
  
#top
  %h1 Ravintolat
  =link_to(t(:add_your_restaurant), restaurants_path, :class => "button")

#shortcuts
  %h6=t :browse_the_restaurants_by
  %p
    %a{:href => "#"}=t :by_map
    &bull;
    %a{:href => "#"}=t :by_tags
    &bull;
    %a{:href => "#"}=t :by_reviews
    &bull;
    %a{:href => "#"}=t :by_alphabetical_list
  
#map
  - unless @restaurants.empty?
    =render :partial => 'map', :locals => { :lat => '60.167587391426764', :lng => '24.9375057220459', :restaurant => @restaurants.first }


#tag-cloud
  %h2 Tagit:
  %ul
    %li
      %a{:href => "#"}lorem ipsum
      (30)
    %li
      %a{:href => "#"}dolor
      (30)
    %li
      %a{:href => "#"}sit amen
      (30)
    %li
      %a{:href => "#"}consectetur
      (30)
    %li
      %a{:href => "#"}elit
      (30)

  %p.showall
    Ja 51 lis&auml;&auml;.
    %a{:href => "#"}N&auml;yt&auml; kaikki &raquo;


    %div
      .five-restaurant-list
        %h2=t :last_added
        %ul
          %li
            %a{:href => "#" }Ravintolan nimi lorem ipsum
            %p.stars 4.8
            %p.hearts 21
          %li
            %a{:href => "#" }Ravintolan nimi lorem ipsum
            %p.stars 4.8
            %p.hearts 21


%div
  %h1 Listing restaurants

  %table
    %tr
      %th Name
      %th Website
      %th Info
      %th
      %th
      %th
    - @restaurants.each do |restaurant|
      %tr
        %td= restaurant.name
        %td= restaurant.website
        %td= restaurant.info
        %td= link_to 'Show', restaurant
        %td= link_to 'Edit', edit_restaurant_path(restaurant)
        %td= link_to 'Destroy', restaurant, confirm: 'Are you sure?', method: :delete

  %br

  = link_to 'New Restaurant', new_restaurant_path
  = t :hello
  Ravintolat &rsaquo;