.restaurant-heading
  %h1= @restaurant.name

.restaurant-contact-info.darker-background
  - @restaurant.branches.each do |branch|
    .contact-details
      %h6= t('restaurants.open')
      %p= branch.business_hours
    .contact-details
      %h6=t('restaurants.address')
      %p= branch.street_address
      %p= branch.city
    .contact-details
      %h6= t('restaurants.contact_details')
      %p= branch.phone
      %p= mail_to branch.email
      %p= link_to branch.website, branch.website
      
  .clear

#map
  = render :partial => 'map', :locals => { :lat => '60.167587391426764', :lng => '24.9375057220459', :restaurant => @restaurant }

#description.bottom-border
  %h2= t('activerecord.attributes.restaurant.info')
  %p= simple_format @restaurant.info


#comments-block
  #comments
    %h2=t('comments.title')
    = render @restaurant.comments
  
  #comments-notice
  
  = render :partial => "comments/form", :locals => {:restaurant => @restaurant, :comment => Comment.new}

= link_to 'Edit', edit_restaurant_path(@restaurant)
|
= link_to 'Back', restaurants_path
