%p#notice= notice

%p
  %b Name
  = @restaurant.name

%p
  %b Website:
  = @restaurant.website

%p
  %b Info:
  = @restaurant.info



= link_to 'Edit', edit_restaurant_path(@restaurant) 
|
= link_to 'Back', restaurants_path
