%p
  %b Name
  = @restaurant.name

%p
  %b Website:
  = @restaurant.website

%p
  %b Info:
  = @restaurant.info

#map= render :partial => 'map', :locals => { :lat => '60.167587391426764', :lng => '24.9375057220459', :restaurant => @restaurant }

= link_to 'Edit', edit_restaurant_path(@restaurant) 
|
= link_to 'Back', restaurants_path
