.restaurant-heading
  %h1= @restaurant.name

.restaurant-contact-info.darker-background
  - @restaurant.branches.each do |branch|
    .contact-details
      %h6= t('restaurants.open')
      %p= branch.business_hours
    .contact-details
      %h6=t('restaurants.address')
      %p= branch.street_address
      %p= branch.city
    .contact-details
      %h6= t('restaurants.contact_details')
      %p= branch.phone
      %p= mail_to branch.email
      %p= link_to branch.website, branch.website
      
  .clear

// What if there is no restaurants?
#map= render :partial => 'restaurantmap', :locals => { :lat => @restaurant.branches.first.latitude, :lng => @restaurant.branches.first.longitude, :restaurant => @restaurant }

#description.bottom-border
  %h2= t('activerecord.attributes.restaurant.info')
  %p= simple_format @restaurant.info

#dishes-block.bottom-border
  #dishes
    %h2=t('dishes.title')
    =render @restaurant.dishes
    
  %p=t('dishes.missing')
  #dishes-notice
  =link_to t('dishes.add'), new_restaurant_dish_path(@restaurant), :remote => true
  #dish-form
    

#comments-block
  #comments
    %h2=t('comments.title')
    = render @restaurant.comments
  
  #comments-notice
  
  = render :partial => "comments/form", :locals => {:restaurant => @restaurant, :comment => Comment.new}
