!!! 5
%html
  %head
  %title Veggie
  = stylesheet_link_tag    "application" 
  = javascript_include_tag "application" 
  = yield :script
  = csrf_meta_tags

%body

  #header
    %p.breadcrumb 
      =t :your_are_here
      %a{:href => "#"} Veggie Helsinki &gt; 
      %a{:href => "#"} Ravintolat
    %ul#profile.rounded
      %li 
        - if current_user
          =t :hello 
          %a{:href => "#"}= current_user.username
      %li 
        - if current_user
          %a#settings{:href => "#"}=t :settings
        - else
          %a#settings{:href => register_url}=t :register        
      %li
        - if current_user
          %a#logout{:href => logout_url }=t :logout
        - else
          %a#login{:href => login_url }=t :login

    %hr
    
  .content#content= yield
