!!! 5
%html
  %head
  %title Veggie
  = stylesheet_link_tag    "application" 
  = javascript_include_tag "application" 
  = yield :script
  = csrf_meta_tags

%body

  #header
    %p.breadcrumb 
      =t :your_are_here
      %a{:href => "#"} Veggie Helsinki &gt; 
      %a{:href => "#"} Ravintolat
    %ul#profile.rounded
      %li 
        =t :hello 
        %a{:href => "#"} Hanna!
      %li 
        %a#settings{:href => "#"}=t :settings
      %li
        %a#logout{:href => "#"}=t :logout
    %hr
    
  .content#content= yield
